@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;500;600&display=swap');

:root {
  --color-white: #efefef;
  --color-black: #272727;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  user-select: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  line-height: 1.7;
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif, Verdana, Geneva;
  background-color: var(--color-white);
  color: var(--color-black);
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}